.ProviderContainer{
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.ProviderContainerDecoratorContainer{
    height: 250px;
    width: 25px;
}
.ProviderContainerDecorator{
    fill: var(--dark);
}

.ClearIcon{
    fill: var(--white);
}
.ClearIcon:hover{
    fill: var(--theme);
    cursor: pointer;
}

.UnselectedContainer{
    border: 1px hidden var(--edge);
    border-left-width: 4px;
    border-right-width: 4px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- --- */
.AlignScrollContainer{
    border: 1px solid var(--white-offset);
    border-left-width: 4px;
    border-right-width: 4px;
    width: 250px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: height 0.5s ease, border-color 0.5s ease, visibility 0.5s ease;
    visibility: visible;
}
.LoadingContainer{
    border: 1px solid var(--edge);
    border-left-width: 4px;
    border-right-width: 4px;
    width: 250px;
    height: 25px;
    overflow: hidden;
    transition: height 0.5s ease, border-color 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
}
.ScrollContainer{
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HighlighterFrame{
    position: absolute;
    width: 250px;
    height: 250px;
    pointer-events: none;
    z-index: 9;
}
.HideHighlighter {
    opacity: 0;
    transition: opacity 0.20s ease;
    visibility: hidden;
}

.Highlighter {
    opacity: 1; /* Fades in */
    transition: opacity 0.20s ease;
    visibility: visible;
    fill: var(--white-offset);
}
/* ---^--- */

.LibraryItem{
    width: 50px;
    height: 48px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.SelectLibraryButton{
    width: 100px;
    height: 45px;
    margin: 5px;
}

/* --- --- */
.StatusBar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: var(--dark);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.GlobalValueDivision{
    width: 33%;
    padding-left: 150px;
    height: 100%;
    border-right: 1.5px solid var(--edge);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.StatusBarContent{
    color: var(--white);
    font-size: 12.5px;
    margin: 0px;
}
.SubmittedDataDivision{
    width: 22%;
    padding-left: 50px;
    height: 100%;
    border-right: 1.5px solid var(--edge);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.AlignSubmittedDataText{
margin-left: 50px;
}
.SubmitButton{
    width: 100px;
    height: 30px;
    margin: 0px;
    padding: 5px;
    font-size: 12.5px;
    margin-top: 7.5px;
}
/* ---^--- */
