h1,
p{
    font-family: var(--font);
    color: var(--white);
}
button{
    font-family: var(--font);
    font-size: 20px;
    color: var(--white);
    width: 100px;
    height: 50px;
}
button:hover{
    color: var(--theme);
    cursor: pointer;
}
.ProviderContainer{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.ClearIcon{
    fill: var(--white);
}
.ClearIcon:hover{
    fill: var(--theme);
    cursor: pointer;
}

.UnselectedContainer{
    border: 1px solid var(--edge);
    border-left-width: 4px;
    border-right-width: 4px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- --- */
.AlignScrollContainer{
    border: 1px solid var(--white-offset);
    border-left-width: 4px;
    border-right-width: 4px;
    width: 250px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: height 0.5s ease, border-color 0.5s ease, visibility 0.5s ease;
    visibility: visible;
}
.LoadingContainer{
    border: 1px solid var(--edge);
    border-left-width: 4px;
    border-right-width: 4px;
    width: 250px;
    height: 25px;
    overflow: hidden;
    transition: height 0.5s ease, border-color 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
}
.ScrollContainer{
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HighlighterFrame{
    position: absolute;
    width: 250px;
    height: 250px;
    pointer-events: none;
    z-index: 9;
}
.HideHighlighter {
    opacity: 0;
    transition: opacity 0.25s ease;
    visibility: hidden;
}

.Highlighter {
    opacity: 1; /* Fades in */
    transition: opacity 0.25s ease;
    visibility: visible;
    fill: var(--white-offset);
}
/* ---^--- */

.LibraryItem{
    width: 50px;
    height: 48px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.SubmitButton{
    width: 400px;
}