:root {
  --theme: rgb(215, 55, 55);
  --theme-secondary: #7691BB;
  --complementary: rgb(105, 95, 185);
  --dark: rgb(37,35,39);
  --edge: rgb(60,58,62);
  --white: rgb(210, 200, 200);
  --white-offset: rgb(245, 190, 175);
  --font: 'Noticia Text';
  --theme-font: 'Ewert', cursive;
}

body {
  margin: 0;
  font-family: 'Noticia Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 24, 28);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border: 1px solid var(--edge);
  border-left-width: 2px;
  border-right-width: 2px;
  background-color: var(--dark);
}